<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstTestSuite" verbose="1">
	<test name="FirstTest">
		<classes>
			<class name="com.dice.test.LogInTest">
	<!-- 			<methods>
					<exclude name="secondTestMethod" />
				</methods> -->
			</class>
		</classes>
	</test>
</suite>
